<div class="employee-edit">
  <h1>{{title}}</h1>
  <p *ngIf="this.id && !emp"><em>Loading...</em></p>
  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngIf="form.invalid && form.errors &&
form.errors?.isDupeEmployee"
         class="alert alert-danger">
      <strong>ERROR</strong>:
      An employee with the same <i>name</i>, <i>salry</i>,
      <i>designation</i> and <i>department</i> already exists.
    </div>

    <div class="form-group">
      <label for="name">Employee name:</label>
      <br />
      <input type="text" id="name"
             formControlName="name" required
             placeholder="Employee name..."
             class="form-control" />

      <div *ngIf="hasError('name')"
           class="invalid-feedback">
        <div *ngIf="form.get('name').errors?.required">
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Employee Joining Date:</label>
      <br />
      <input type="date" id="joinningDate"
             formControlName="joinningDate" required
             placeholder="Joining Date..."
             class="form-control" />

      <div *ngIf="hasError('joinningDate')"
           class="invalid-feedback">
        <div *ngIf="form.get('joinningDate').errors?.required">
          joining Date is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="salary">Employee's' salary:</label>
      <br />
      <input type="text" id="salary"
             formControlName="salary" required
             placeholder="salary..."
             class="form-control" />

      <div *ngIf="hasError('salary')"
           class="invalid-feedback">
        <div *ngIf="form.get('salary').errors?.required">
          salary is required.
        </div>

      </div>
    </div>


    <div class="form-group">
      <label for="designation">Employee's' designation:</label>
      <br />
      <input type="text" id="designation"
             formControlName="designation" required
             placeholder="designation..."
             class="form-control" />

      <div *ngIf="hasError('designation')"
           class="invalid-feedback">
        <div *ngIf="form.get('designation').errors?.required">
          designation is required.
        </div>

      </div>

    </div>






    <div class="form-group">
      <label for="departmentId">Department:</label>

      <br />
      <mat-form-field *ngIf="departments">

        <mat-label>Select a department...</mat-label>
        <mat-select id="departmentId" formControlName="departmentId">
          <mat-option *ngFor="let dep of departments"
                      [value]="dep.id">
            {{dep.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="hasError('departmentId')"
           class="invalid-feedback">
        <div *ngIf="form.get('departmentId').errors?.required">
          departmentId is required.
        </div>
      </div>
    </div>






    <div class="form-group commands">
      <button *ngIf="id" type="submit"
              (click)="onSubmit()"
              [disabled]="form.invaild"
              class="btn btn-success">
        Save
      </button>

      <button *ngIf="!id" type="submit"
              (click)="onSubmit()"
              [disabled]="form.invalid"
              class="btn btn-success">
        Create
      </button>
      <button type="button" class="btn btn-danger" *ngIf="this.id" (click)="delete(form.get('name'))">Delete</button>
      <button type="button"
              [routerLink]="['/employees']"
              class="btn">
        Cancel
      </button>
    </div>
  </div>
  </div>
